@media screen and (min-width: 1024px) {
    body { font-size: 15px; }
    .g-wrapper {
        min-height: 50em;
    }
    .b-about {
        max-width: 44em;
    }
}

@media screen and (min-width: 1280px) {
    body { font-size: 16px; }
    .b-apps .apps_text {
        display: block;
    }
    .b-apps {
        background-position: -74px -80px;
    }
    .b-apps:hover {
        background-position: -74px -124px;
    }
    .b-field .field_refresh {
        width: auto;
    }
    .b-about {
        max-width: 44em;
    }
}

@media screen and (min-width: 1440px) {
    body { font-size: 17px; }
    .g-wrapper {
        min-height: 47em;
    }
}

@media screen and (min-width: 1600px) {
    .b-slides .slides_title { font-size: 2.5375em; }
}

@media screen and (max-height: 43em) {
    .b-news .news_item {
        display: none;
    }
    .b-news .news_item.news-main {
        display: block;
        height: auto;
        position: relative;
        float: none;
        width: auto;
        margin: 0;
        padding: 0 0 0 3em;
    }
    .b-news .news_date {
        top: 0.2em;
    }
}
@media screen and (max-height: 48em) {
    .b-news .news_item {
        height: 2.75em;
    }
}